.white {
	color: #E7E8EB;
}

.red {
	color: #DE3A3B;
}

.orange {
	color: #D38D5E;
}

.yellow {
	color: #FEF935;
}

.green {
	color: #51C34F;
}

.dark-green {
	color: #2CAD68;
}

.cyan {
	color: #2CB6B1;
}

.pink {
	color: #E12DA0;
}

.lila {
	color: #6543E9;
}

.lavender {
	color: #8783BE;
}

.lavender-gray {
	color: #68878F;
}

.dark-gray {
	color: #363748;
}

.gray {
	color: #47515F;
}

.black {
	color: #292B35;
}